
DnD5E_Battle_Simulator/flask_env/
DnD5E_Battle_Simulator/combatlog/
DnD5E_Battle_Simulator/battle_simulator/__pycache__/
DnD5E_Battle_Simulator/battle_simulator/__pycache__/*.pyc
*.pyc
.vs/DnD5E_Battle_Simulator/v15/.suo
