<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{data.title}}</title>
    <link href="/static/style.css" rel="stylesheet" />
    <SCRIPT language=Javascript>
       <!--
       function isNumberKey(evt)
       {
          var charCode = (evt.which) ? evt.which : event.keyCode;
          if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
             return false;

          return true;
       }
       //-->
    </SCRIPT>
</head>
<body>
    <div class="info">
        <h1> Critical Role - Battle Simulator</h1>
        {{data.msg}}
    </div>

    </br>
    Welcome to the battle simulator, inspired by the Wizards of the Coast TTRPG and the show Critical Role.  
    </br>
    You can choose from among your favourite CR characters and villains to fight; change levels, statistics, and starting positions; and play out different scenarios by choosing different Teams for your combatants.
    </br>
    This is a work in progress; there will be bugs and mechanics that don't fully work as intended.
    </br>
    Feedback is welcome via <a href="https://twitter.com/Benj1B">Twitter</a>, and you can check out the source code on <a href="https://github.com/BenjiAU/DnD5E_Battle_Simulator/">Github</a>

    <div class="input">
        <form method="POST">
            <div class="combatant_select">
                <br />
                <table class="combatant_select" border="1">
                    <tr>
                        <td>
                            Select
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Level
                        </td>
                        <td>
                            Maximum HP
                        </td>
                        <td>
                            Armour Class
                        </td>
                        <td>
                            Notes
                        </td>
                        <td>
                            Starting X-Position
                        </td>
                        <td>
                            Starting Y-Position
                        </td>
                        <td>
                            Team
                        </td>
                    </tr>
                    {{data.combatants}}
                </table>
            </div>
            Simulate battle: <input name="simulate" value="Simulate" type="submit"></>
        </form>
        <form method="POST">
            Reset battle: <input name="simulate" value="Reset" type="submit"></>
        </form>
    </div>


    <div>
        <br />
    </div>
    <div class="content">
        {{data.content}}
    </div>
    <div>
        <br />
    </div>

</body>
</html>