<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{data.title}}</title>
    <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
    <div class="info">
        <h2> Welcome <br /></h2>
        {{data.msg}}        
    </div>
    
    </br>
    Yasha vs Grog - both level 20, same equipment, to compare Path of Beserker with Path of the Zealot.
    </br>
    Salient features should be in, each Simulate will run 5 attempts at the battle.
    </br>
    Try it out and see how strong Zealots are!!
    </br>
    </br>
    
    <div class="input">
        <form method="POST">
            Simulate battle: <input name="button" value="Simulate" type="submit"></>
        </form>
        <form method="POST">
            Reset battle: <input name="button" value="Reset" type="submit"></>
        </form>
    </div>

    <div class="content">
        {{data.content}}
    </div>

</body>
</html>