body
{
}

.info {
    margin: auto;
    text-align: center;
}

.content {
    margin: auto;
    text-align: left;
}

.grid {
    font-family: 'Courier New';
}

.indent {
    margin-left: 40px;
}

.doubleindent {
    margin-left: 80px;
}