body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

input[type="text"] {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.info {
    margin: auto;
    text-align: center;
}

.error {
    color: darkred;
    font-weight: bold;
    font-size: larger;
}

.content {
    margin: auto;
    text-align: left;
}

.output {
    background-color: #232B2B;
    color: #FFFFFF;
}

.output_column {
    width: 100%;
    position: relative;
    padding-left: 10px;
    z-index: 1
}

.grid_column {
    float: right;
    position: relative;
    width: 50%;
    border: 1px solid #FFFFFF;
    z-index: 2
}

.grid {
    font-family: 'Courier New';
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
}

.grid_div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
    width: 5px;
    height: 5px;
}

.output:after {
/* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

.attempt {
    border-top: 4px solid #FFFFFF;    
    border-left: 4px solid #FFFFFF;
    padding-left: 20px;
}

.attempt:after {
    content: "";
    display: table;
    clear: both;
}

.round {
    border-top: 2px dashed #FFFFFF;
    border-left: 2px dashed #FFFFFF;
    padding-left: 20px;
}

.turn {
    border-left: 1px solid #FFFFFF;    
    padding-left: 20px;
    /*
        border-bottom: 2px dashed#FFFFFF ;
    */
}


.indent {
    margin-left: 40px;
}

.double-indent {
    margin-left: 80px;
}

.movement
{
    color: lightblue;
}

.damage {
    color: red;
    font-weight: bold;
}

.crit_damage {
    color: red;
    font-weight: bolder;
}

.damage_reduction{
    color: lightyellow;
    font-weight: bolder;
}

.healing{
    color: lawngreen;
}

.hpnormal{
    color: lightgreen;
}

.hpmidrange{
    color: lightyellow;
}

.hplow{
    color: lightcoral;
}

.hpzero {
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}

.hpdead{
    color: darkred;
    font-weight: bold;
    text-decoration: line-through;
}

.hdywtdt{
    color: gold;
    font-weight: bold;
    font-size: larger;
}

.victory_text{
    color: chartreuse;
    font-weight: bold;
    font-size: larger;
}

.death{

}

.combatant_details {
    border: 1px solid #FFFFFF;
}

.combatant_details td {
    border-right: 1px solid #FFFFFF;        
}